평가문항	상세기준
1. CSR matrix가 정상적으로 만들어졌다.  
사용자와 아이템 개수를 바탕으로 정확한 사이즈로 만들었다.  
  
  
2. MF 모델이 정상적으로 훈련되어 그럴듯한 추천이 이루어졌다.  
사용자와 아이템 벡터 내적수치가 의미있게 형성되었다.  
   
   
3. 비슷한 영화 찾기와 유저에게 추천하기의 과정이 정상적으로 진행되었다.  
MF모델이 예측한 유저 선호도 및 아이템간 유사도, 기여도가 의미있게 측정되었다.

# 8-9. 프로젝트 - Movielens 영화 추천 실습
이전 스텝에서 배운 MF 모델 학습 방법을 토대로, 내가 좋아할 만한 영화 추천 시스템을 제작해 보겠습니다.  
이번에 활용할 데이터셋은 추천시스템의 MNIST라고 부를만한 Movielens 데이터입니다.  

+ 유저가 영화에 대해 평점을 매긴 데이터가 데이터 크기 별로 있습니다. MovieLens 1M Dataset 사용을 권장합니다.
+ 별점 데이터는 대표적인 explicit 데이터입니다. 하지만 implicit 데이터로 간주하고 테스트해볼 수 있습니다.
  별점을 시청횟수로 해석해서 생각하겠습니다.
+ 또한 유저가 3점 미만으로 준 데이터는 선호하지 않는다고 가정하고 제외하겠습니다.
MovieLens 1M Dataset 데이터셋의 경우는 크기가 작아서 아래와 같이 직접 다운 받고 압축해제 하겠습니다.

## 1) 데이터 준비와 전처리
Movielens 데이터는 rating.dat 안에 이미 인덱싱까지 완료된 사용자-영화-평점 데이터가 깔끔하게 정리되어 있습니다.  
  
터미널에서 
```
1) wget으로 데이터 다운로드
$ wget http://files.grouplens.org/datasets/movielens/ml-1m.zip

2) 다운받은 데이터를 작업디렉토리로 옮김
$ mv ml-1m.zip ~/aiffel/recommendata_iu/data

3) 작업디렉토리로 이동
$ cd ~/aiffel/recommendata_iu/data

4) 압축 해제
$ unzip ml-1m.zip
```

In [1]:
from scipy.sparse import csr_matrix
from implicit.als import AlternatingLeastSquares
import os
import numpy as np
import pandas as pd
from pandas import DataFrame

In [2]:
# 다운 받은 데이터 읽기
rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python')
orginal_data_size = len(ratings)
print(len(ratings))
ratings.head()

1000209

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

1000209개의 영화 별점 data

In [3]:
# 3점 이상만 남깁니다.
ratings = ratings[ratings['rating']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

3 & 4 & 5 점 짜리 영화가 836478개, 84% 정도있고 이것만 분석할 거다.

In [4]:
# rating 컬럼의 이름을 count로 바꿉니다.
ratings.rename(columns={'rating':'count'}, inplace=True)

In [5]:
ratings['count']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: count, Length: 836478, dtype: int64

In [6]:
# column 이름 중 rating -> count 확인하기
ratings.head()

   user_id  movie_id  count  timestamp
0        1      1193      5  978300760
1        1       661      3  978302109
2        1       914      3  978301968
3        1      3408      4  978300275
4        1      2355      5  978824291

In [7]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python')
print(len(movies))
movies.head() # 여기까지가 전처리

3883

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

영화의 총 개수는 3883개 인데 이게 3, 4, 5점 영화에 포함되어있는지도 확인해야 할 듯

## 2) 분석해 봅시다.
+ ratings에 있는 유니크한 영화 개수
+ rating에 있는 유니크한 사용자 수
+ 가장 인기 있는 영화 30개(인기순)

In [8]:
# ratings movie_id 에 맞쳐서 movies 의 title과 genre 합치기 (merging)
# df_merge_how_outer = pd.merge(df_left, df_right,    ...: how='outer',    ...: on='KEY')
df_merge = pd.merge(ratings, movies, how='left', on='movie_id')
df_merge.head(1000)

,user_id,movie_id,count,timestamp,title,genre
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance
3,1,3408,4,978300275,Erin Brockovich (2000),Drama
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy
...,...,...,...,...,...,...
995,10,2874,5,978227188,"Pajama Game, The (1957)",Comedy
996,10,899,4,979167758,Singin' in the Rain (1952),Musical|Romance
997,10,1135,4,978229435,Private Benjamin (1980),Comedy
998,10,2948,4,978227166,From Russia with Love (1963),Action
999,10,1136,4,979168424,Monty Python and the Holy Grail (1974),Comedy

In [9]:
# 사용하는 컬럼만 남겨줍니다.
using_cols = ['user_id', 'movie_id', 'count', 'title', 'genre']
df_merge = df_merge[using_cols]
print(len(df_merge))

836478

In [10]:
df_merge.tail(20)

,user_id,movie_id,count,title,genre
836458,6040,527,5,Schindler's List (1993),Drama|War
836459,6040,535,4,Short Cuts (1993),Drama
836460,6040,2010,5,Metropolis (1926),Sci-Fi
836461,6040,2011,4,Back to the Future Part II (1989),Comedy|Sci-Fi
836462,6040,3751,4,Chicken Run (2000),Animation|Children's|Comedy
836463,6040,2019,5,Seven Samurai (The Magnificent Seven) (Shichin...,Action|Drama
836464,6040,541,4,Blade Runner (1982),Film-Noir|Sci-Fi
836465,6040,1077,5,Sleeper (1973),Comedy|Sci-Fi
836466,6040,549,4,Thirty-Two Short Films About Glenn Gould (1993),Documentary
836467,6040,2020,3,Dangerous Liaisons (1988),Drama|Romance
836468,6040,2021,3,Dune (1984),Fantasy|Sci-Fi
836469,6040,2022,5,"Last Temptation of Christ, The (1988)",Drama
836470,6040,2028,5,Saving Private Ryan (1998),Action|Drama|War
836471,6040,1080,4,Monty Python's Life of Brian (1979),Comedy
836472,6040,1089,4,Reservoir Dogs (1992),Crime|Thriller
836473,6040,1090,3,Platoon (1986),Drama|War
836474,6040,1094,5,"Crying Game, The (1992)",Drama|Romance|War
836475,6040,562,5,Welcome to the Dollhouse (1995),Comedy|Drama
836476,6040,1096,4,Sophie's Choice (1982),Drama
836477,6040,1097,4,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi

user는 총 6040명

### ratings에 있는 유니크한 영화 개수

In [11]:
# ratings에 있는 유니크한 영화 개수
df_merge['movie_id'].nunique()

3628

### rating에 있는 유니크한 사용자 수

In [12]:
# rating에 있는 유니크한 사용자 수  
df_merge['user_id'].nunique()

6039

### 가장 인기 있는 영화 30개(인기순)

In [13]:
# 가장 인기 있는 영화 30개(인기순)
movie_count = df_merge.groupby('title')['count'].count()
movie_count.sort_values(ascending=False).head(30)

title
American Beauty (1999)                                   3211
Star Wars: Episode IV - A New Hope (1977)                2910
Star Wars: Episode V - The Empire Strikes Back (1980)    2885
Star Wars: Episode VI - Return of the Jedi (1983)        2716
Saving Private Ryan (1998)                               2561
Terminator 2: Judgment Day (1991)                        2509
Silence of the Lambs, The (1991)                         2498
Raiders of the Lost Ark (1981)                           2473
Back to the Future (1985)                                2460
Matrix, The (1999)                                       2434
Jurassic Park (1993)                                     2413
Sixth Sense, The (1999)                                  2385
Fargo (1996)                                             2371
Braveheart (1995)                                        2314
Men in Black (1997)                                      2297
Schindler's List (1993)                                  2257
Princess Bride, The (1987)                               2252
Shakespeare in Love (1998)                               2213
L.A. Confidential (1997)                                 2210
Shawshank Redemption, The (1994)                         2194
Godfather, The (1972)                                    2167
Groundhog Day (1993)                                     2121
E.T. the Extra-Terrestrial (1982)                        2102
Being John Malkovich (1999)                              2066
Ghostbusters (1984)                                      2051
Pulp Fiction (1994)                                      2030
Forrest Gump (1994)                                      2022
Terminator, The (1984)                                   2019
Toy Story (1995)                                         2000
Fugitive, The (1993)                                     1941
Name: count, dtype: int64

## 3) 내가 선호하는 영화를 5가지 골라서 rating에 추가해 줍시다.

Silence of the Lambs, The (1991)  
Jurassic Park (1993)  
Matrix, The (1999)  
Ghostbusters (1984)  
Bug's Life, A (1998)    
좋아하는 영화를 df_merge에 행 추가하기

In [14]:
movies[movies['title'] == 'Silence of the Lambs, The (1991)']

     movie_id                             title           genre
589       593  Silence of the Lambs, The (1991)  Drama|Thriller

In [15]:
movies[movies['title'] == 'Jurassic Park (1993)']

     movie_id                 title                    genre
476       480  Jurassic Park (1993)  Action|Adventure|Sci-Fi

In [16]:
movies[movies['title'] == 'Matrix, The (1999)']

      movie_id               title                   genre
2502      2571  Matrix, The (1999)  Action|Sci-Fi|Thriller

In [17]:
movies[movies['title'] == 'Ghostbusters (1984)']

      movie_id                title          genre
2647      2716  Ghostbusters (1984)  Comedy|Horror

In [18]:
movies[movies['title'] == 'Bug\'s Life, A (1998)']

      movie_id                 title                        genre
2286      2355  Bug's Life, A (1998)  Animation|Children's|Comedy

In [19]:
df_merge.tail()

,user_id,movie_id,count,title,genre
836473,6040,1090,3,Platoon (1986),Drama|War
836474,6040,1094,5,"Crying Game, The (1992)",Drama|Romance|War
836475,6040,562,5,Welcome to the Dollhouse (1995),Comedy|Drama
836476,6040,1096,4,Sophie's Choice (1982),Drama
836477,6040,1097,4,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi

In [20]:
df_merge.loc[len(df_merge)] = [6041, 593, 5,'Silence of the Lambs, The (1991)', 'Drama|Thriller']

In [21]:
# 추가 되었는지 확인
df_merge.tail()

,user_id,movie_id,count,title,genre
836474,6040,1094,5,"Crying Game, The (1992)",Drama|Romance|War
836475,6040,562,5,Welcome to the Dollhouse (1995),Comedy|Drama
836476,6040,1096,4,Sophie's Choice (1982),Drama
836477,6040,1097,4,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
836478,6041,593,5,"Silence of the Lambs, The (1991)",Drama|Thriller

In [22]:
df_merge.loc[len(df_merge)] = [6041, 480, 5, 'Jurassic Park (1993)', 'Action|Adventure|Sci-Fi']
df_merge.loc[len(df_merge)] = [6041, 42571, 5, 'Matrix, The (1999)', 'Action|Sci-Fi|Thriller']
df_merge.loc[len(df_merge)] = [6041, 2716, 5, 'Ghostbusters (1984)', 'Comedy|Horror']
df_merge.loc[len(df_merge)] = [6041, 2355, 5, 'Bug\'s Life, A (1998)', 'Animation|Children\'s|Comedy']

In [23]:
# 한 번 더 확인
df_merge.tail()

,user_id,movie_id,count,title,genre
836478,6041,593,5,"Silence of the Lambs, The (1991)",Drama|Thriller
836479,6041,480,5,Jurassic Park (1993),Action|Adventure|Sci-Fi
836480,6041,42571,5,"Matrix, The (1999)",Action|Sci-Fi|Thriller
836481,6041,2716,5,Ghostbusters (1984),Comedy|Horror
836482,6041,2355,5,"Bug's Life, A (1998)",Animation|Children's|Comedy

## 4) CSR matrix를 직접 만들어 봅시다.
```
csr_matrix((data, (row_ind, col_ind)), [shape=(M, N)])  
where data, row_ind and col_ind satisfy the relationship a[row_ind[k], col_ind[k]] = data[k]., M,N은 matrix의 shape
```

In [24]:
num_user = df_merge['user_id'].nunique()
num_movie = df_merge['movie_id'].nunique()
num_user # 내가 추가한 6041

6040

In [25]:
from scipy.sparse import csr_matrix

num_user = df_merge['user_id'].nunique()
num_movie = df_merge['movie_id'].nunique()

csr_data = csr_matrix((df_merge['count'], (df_merge.user_id, df_merge.movie_id))) #?????
csr_data

<6042x42572 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

## 5) als_model = AlternatingLeastSquares 모델을 직접 구성하여 훈련시켜 봅시다.

Matrix Factorization 모델을 implicit 패키지를 사용하여 학습해 봅시다.  
이 패키지에 구현된 als(AlternatingLeastSquares) 모델을 사용하겠습니다.   
Matrix Factorization에서 쪼개진 두 Feature Matrix를 한꺼번에 훈련하는 것은 잘 수렴하지 않기 때문에, 한쪽을 고정시키고 다른 쪽을 학습하는 방식을 번갈아 수행하는 AlternatingLeastSquares 방식이 효과적인 것으로 알려져 있습니다.

In [26]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분. 학습 내용과는 무관.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

AlternatingLeastSquares 클래스의 init 파라미터를 살펴보겠습니다.
1. factors : 유저와 아이템의 벡터를 몇 차원으로 할 것인지
2. regularization : 과적합을 방지하기 위해 정규화 값을 얼마나 사용할 것인지
3. use_gpu : GPU를 사용할 것인지
4. iterations : epochs와 같은 의미입니다. 데이터를 몇 번 반복해서 학습할 것인지
  
1,4를 늘릴수록 학습데이터를 잘 학습하게 되지만 과적합의 우려가 있으니 좋은 값을 찾아야 합니다.

In [27]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, 
                                    regularization=0.01, 
                                    use_gpu=False, 
                                    iterations=15, dtype=np.float32)

In [28]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<42572x6042 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [29]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

##  6) 내가 선호하는 5가지 영화 중 하나와 그 외의 영화 하나를 골라 훈련된 모델이 예측한 나의 선호도를 파악해 보세요.

In [30]:
# 고유한 유저, 아티스트를 찾아내는 코드
user_unique = df_merge['user_id'].unique()
movie_unique = df_merge['title'].unique()

# 유저, 아티스트 indexing 하는 코드 idx는 index의 약자입니다.
user_to_idx = {v:k for k,v in enumerate(user_unique)}
movie_to_idx = {v:k for k,v in enumerate(movie_unique)}
print(len(user_unique))
user_unique

6040

array([   1,    2,    3, ..., 6039, 6040, 6041])

### 나와 내가 선호한 Matrix의 내적

In [31]:
user, movie = user_to_idx[6041], movie_to_idx['Matrix, The (1999)']
user_vector, movie_vector = als_model.user_factors[user], als_model.item_factors[movie]

print('ok')

ok

In [32]:
user_vector

array([ 0.4892247 ,  0.1910544 ,  0.3511359 ,  0.25049236,  0.23266591,
       -0.1616118 ,  0.18409292, -0.5182913 ,  0.25813833,  0.6092185 ,
       -0.36334917,  0.28071252,  0.04002229, -0.488594  ,  0.5238275 ,
        1.1529981 ,  0.30129647, -0.71556   , -0.29056314, -0.18550648,
        0.45391494, -0.28430924,  0.64006764, -0.25863034, -0.5709785 ,
       -0.23659714,  0.35324505,  0.36317143,  0.07705693,  0.43531948,
       -0.18820113,  0.43215486, -0.5538832 , -0.46600434, -0.17057998,
        0.22574314,  0.6082949 ,  0.24100658,  0.4477581 , -0.86345047,
        0.16429293, -0.20034753,  0.34718755, -0.27337492,  0.24139445,
        0.1805371 , -0.24316421, -0.23559685, -0.10671976, -0.09986042,
        0.81462485,  0.6926247 , -0.33537337,  0.74698657,  0.26509285,
       -0.44144544, -0.22390592,  0.21528417, -0.4933743 , -0.02960127,
       -0.0433467 ,  0.2624338 , -1.015832  , -0.10702317,  0.00585827,
       -0.7361016 , -0.3743169 ,  0.5103745 ,  0.38254145,  0.51439226,
        0.40337747,  0.24623072,  0.2448106 ,  0.26404506, -0.08992903,
       -0.21729349,  0.4325941 ,  0.84138316, -0.49655804,  0.29585382,
       -0.10014998,  0.16799031, -0.04178649, -0.7078094 , -0.14564261,
       -0.09894726, -0.6753555 ,  0.49342653,  0.44410074, -0.3714666 ,
       -0.09646011,  0.2764745 , -0.33117992, -0.06573477, -0.7029191 ,
        0.01107184, -0.2710741 , -0.24467154,  0.30420113, -0.66075116],
      dtype=float32)

In [33]:
movie_vector

array([-0.00397174,  0.00123991, -0.00260197,  0.0026197 ,  0.02000462,
        0.0061885 ,  0.00045791,  0.02062204,  0.01425746,  0.01274739,
       -0.00021081,  0.00880046, -0.00678541,  0.01404193,  0.00707805,
        0.00855777, -0.00291977,  0.00147157,  0.00762934,  0.00969866,
        0.01642125,  0.01374933,  0.00995494,  0.00418398,  0.00792021,
        0.0167327 ,  0.00344826,  0.00137268, -0.00394103,  0.00535642,
       -0.00029638, -0.00806616,  0.00274652,  0.00665393,  0.02193982,
       -0.01591994,  0.00020577,  0.00462533,  0.01741555,  0.01312711,
        0.0002115 ,  0.01087   ,  0.00931121,  0.00922474,  0.00396165,
        0.01700873, -0.00421152,  0.02328277,  0.01265012,  0.01273733,
        0.00967403,  0.00148209,  0.00483511,  0.00934074,  0.01262814,
        0.0146325 ,  0.00211728,  0.00049504,  0.0123293 ,  0.01624593,
        0.00603293,  0.00030286, -0.00671536,  0.00131543,  0.00684765,
        0.00863179, -0.00327155,  0.0094522 ,  0.00764862,  0.00518925,
        0.00372263,  0.00736347,  0.01491998, -0.00086408,  0.01194993,
       -0.01407818, -0.00811779,  0.00689694,  0.00436992,  0.00059921,
        0.01196692,  0.01239592, -0.00613484,  0.00195438, -0.00299623,
        0.00610044,  0.00390124,  0.01083907, -0.00184556,  0.01185659,
       -0.0007323 ,  0.0024339 , -0.00287193, -0.00550636,  0.0026055 ,
       -0.00739054,  0.00502172, -0.00554526,  0.01493708,  0.00047202],
      dtype=float32)

In [34]:
# 내적 
np.dot(user_vector, movie_vector)

0.014019716

### 나와 선택하지 않은 영화와의 내적

In [35]:
movie = movie_to_idx['Sixth Sense, The (1999)']
movie_vector = als_model.item_factors[movie]

print('ok')

ok

In [36]:
# 내적 
np.dot(user_vector, movie_vector)

-0.00891792

선호했던 영화인 Matrix가 훨씬 높게 나왔다. 

## 7) 내가 좋아하는 영화와 비슷한 영화를 추천받아 봅시다.

### Matrix와 비슷한 영화 찾기

In [101]:
movie_id = movie_to_idx['Matrix, The (1999)']
similar_movie = als_model.similar_items(movie_id, N=15)
similar_movie

[(124, 1.0000002),
 (614, 0.7332723),
 (2175, 0.71712804),
 (884, 0.70382816),
 (701, 0.6933543),
 (1510, 0.6933338),
 (763, 0.69333166),
 (138, 0.69332945),
 (2821, 0.6933289),
 (3229, 0.6933287),
 (584, 0.6933282),
 (607, 0.693328),
 (2214, 0.69332796),
 (1548, 0.6933278),
 (712, 0.6909411)]

### movie_id로 영화 제목 찾기
#### 조건문으로 df에서  행 추출

In [38]:
movies[movies['movie_id'] == 3380]

      movie_id               title      genre
3311      3380  Railroaded! (1947)  Film-Noir

In [39]:
print(movies[movies['movie_id'] == 3380],
     movies[movies['movie_id'] == 614],
     movies[movies['movie_id'] == 701],
     movies[movies['movie_id'] == 2821],
     movies[movies['movie_id'] == 138],
     sep='\n')

      movie_id               title      genre
3311      3380  Railroaded! (1947)  Film-Noir
     movie_id          title           genre
610       614  Loaded (1994)  Drama|Thriller
     movie_id         title  genre
692       701  Daens (1992)  Drama
      movie_id                   title            genre
2752      2821  Male and Female (1919)  Adventure|Drama
     movie_id                   title  genre
136       138  Neon Bible, The (1995)  Drama

#### idx_to_movie 활용하기

In [96]:
idx_to_movie = {v:k for k, v in movie_to_idx.items()}
[idx_to_movie[i[0]] for i in similar_movie]

['Matrix, The (1999)',
 'Jewel of the Nile, The (1985)',
 'Hellraiser III: Hell on Earth (1992)',
 'Mad Max Beyond Thunderdome (1985)',
 'Santa Claus: The Movie (1985)',
 'Parent Trap, The (1998)',
 'Superman II (1980)',
 'True Lies (1994)',
 'Steam: The Turkish Bath (Hamam) (1997)',
 'Music From Another Room (1998)',
 'Star Trek III: The Search for Spock (1984)',
 'Godfather, The (1972)',
 'Money Train (1995)',
 'Event Horizon (1997)',
 'To Wong Foo, Thanks for Everything! Julie Newmar (1995)']

idx_to_movie를 활용하면 훨씬 짧은 코드로 실행할 수 있다.

## 8) 내가 가장 좋아할 만한 영화들을 추천받아 봅시다.
filter_already_liked_items 는 유저가 이미 평가한 아이템은 제외하는 Argument입니다.

In [115]:
user = user_to_idx[6041]
# recommend에서는 user*item CSR Matrix를 받습니다.
recommended_movie = als_model.recommend(user, csr_data, N=15, filter_already_liked_items=True)
recommended_movie

[(910, 1.1678462),
 (3061, 1.0528175),
 (1267, 0.89993477),
 (1035, 0.8963792),
 (3675, 0.8752177),
 (898, 0.8559089),
 (594, 0.8493147),
 (908, 0.8226003),
 (905, 0.80003667),
 (969, 0.786883),
 (2941, 0.78636444),
 (2078, 0.7722172),
 (1196, 0.75479835),
 (1288, 0.7545718),
 (1032, 0.74686897)]

In [116]:
movies[movies['movie_id'] == 910]

     movie_id                    title         genre
898       910  Some Like It Hot (1959)  Comedy|Crime

In [105]:
print(type(movie_to_idx.items()))

<class 'dict_items'>

In [117]:
# idx_to_movie = {v:k for k, v in movie_to_idx.items()}
[idx_to_movie[i[0]] for i in recommended_movie]

KeyError: 3675

In [114]:
idx_to_movie

{0: "One Flew Over the Cuckoo's Nest (1975)",
 1: 'James and the Giant Peach (1996)',
 2: 'My Fair Lady (1964)',
 3: 'Erin Brockovich (2000)',
 4: "Bug's Life, A (1998)",
 5: 'Princess Bride, The (1987)',
 6: 'Ben-Hur (1959)',
 7: 'Christmas Story, A (1983)',
 8: 'Snow White and the Seven Dwarfs (1937)',
 9: 'Wizard of Oz, The (1939)',
 10: 'Beauty and the Beast (1991)',
 11: 'Gigi (1958)',
 12: 'Miracle on 34th Street (1947)',
 13: "Ferris Bueller's Day Off (1986)",
 14: 'Sound of Music, The (1965)',
 15: 'Airplane! (1980)',
 16: 'Tarzan (1999)',
 17: 'Bambi (1942)',
 18: 'Awakenings (1990)',
 19: 'Big (1988)',
 20: 'Pleasantville (1998)',
 21: 'Wallace & Gromit: The Best of Aardman Animation (1996)',
 22: 'Back to the Future (1985)',
 23: "Schindler's List (1993)",
 24: 'Meet Joe Black (1998)',
 25: 'Pocahontas (1995)',
 26: 'E.T. the Extra-Terrestrial (1982)',
 27: 'Titanic (1997)',
 28: 'Ponette (1996)',
 29: 'Close Shave, A (1995)',
 30: 'Antz (1998)',
 31: 'Girl, Interrupted (1999)',
 32: 'Hercules (1997)',
 33: 'Aladdin (1992)',
 34: 'Mulan (1998)',
 35: 'Hunchback of Notre Dame, The (1996)',
 36: 'Last Days of Disco, The (1998)',
 37: 'Cinderella (1950)',
 38: 'Sixth Sense, The (1999)',
 39: 'Apollo 13 (1995)',
 40: 'Toy Story (1995)',
 41: 'Rain Man (1988)',
 42: 'Driving Miss Daisy (1989)',
 43: 'Run Lola Run (Lola rennt) (1998)',
 44: 'Star Wars: Episode IV - A New Hope (1977)',
 45: 'Mary Poppins (1964)',
 46: 'Dumbo (1941)',
 47: 'To Kill a Mockingbird (1962)',
 48: 'Saving Private Ryan (1998)',
 49: 'Secret Garden, The (1993)',
 50: 'Toy Story 2 (1999)',
 51: 'Fargo (1996)',
 52: 'Dead Poets Society (1989)',
 53: 'Shine (1996)',
 54: 'Verdict, The (1982)',
 55: 'Shall We Dance? (Shall We Dansu?) (1996)',
 56: 'Courage Under Fire (1996)',
 57: 'Untouchables, The (1987)',
 58: 'Mission: Impossible (1996)',
 59: 'Few Good Men, A (1992)',
 60: 'Star Wars: Episode I - The Phantom Menace (1999)',
 61: 'Rebel Without a Cause (1955)',
 62: 'Total Recall (1990)',
 63: 'Hustler, The (1961)',
 64: 'Star Wars: Episode VI - Return of the Jedi (1983)',
 65: 'U.S. Marshalls (1998)',
 66: 'Jackal, The (1997)',
 67: 'Gladiator (2000)',
 68: 'Double Jeopardy (1999)',
 69: 'Yojimbo (1961)',
 70: 'Ran (1985)',
 71: 'Snake Eyes (1998)',
 72: 'Fisher King, The (1991)',
 73: 'Mister Roberts (1955)',
 74: 'Day the Earth Stood Still, The (1951)',
 75: 'Hunt for Red October, The (1990)',
 76: 'Outbreak (1995)',
 77: 'Simon Birch (1998)',
 78: 'Stand and Deliver (1987)',
 79: 'Maverick (1994)',
 80: 'Stand by Me (1986)',
 81: 'Green Mile, The (1999)',
 82: 'Lost World: Jurassic Park, The (1997)',
 83: 'Gandhi (1982)',
 84: 'Strictly Ballroom (1992)',
 85: 'League of Their Own, A (1992)',
 86: 'Bodyguard, The (1992)',
 87: 'Braveheart (1995)',
 88: 'Ronin (1998)',
 89: 'Payback (1999)',
 90: 'Spanish Prisoner, The (1997)',
 91: 'Close Encounters of the Third Kind (1977)',
 92: 'Terminator 2: Judgment Day (1991)',
 93: 'Alien: Resurrection (1997)',
 94: 'Guns of Navarone, The (1961)',
 95: "Soldier's Story, A (1984)",
 96: 'On the Waterfront (1954)',
 97: 'Picnic (1955)',
 98: 'Mis�rables, Les (1998)',
 99: 'American Beauty (1999)',
 100: 'Amadeus (1984)',
 101: 'Remains of the Day, The (1993)',
 102: 'Demolition Man (1993)',
 103: 'Children of a Lesser God (1986)',
 104: 'Like Water for Chocolate (Como agua para chocolate) (1992)',
 105: 'Last of the Mohicans, The (1992)',
 106: 'Bonnie and Clyde (1967)',
 107: 'Jurassic Park (1993)',
 108: 'Prefontaine (1997)',
 109: 'Doctor Zhivago (1965)',
 110: 'Groundhog Day (1993)',
 111: 'Die Hard 2 (1990)',
 112: 'Man in the Iron Mask, The (1998)',
 113: 'Star Trek VI: The Undiscovered Country (1991)',
 114: 'Enemy of the State (1998)',
 115: 'Key Largo (1948)',
 116: 'Dances with Wolves (1990)',
 117: 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 118: 'Con Air (1997)',
 119: 'Twister (1996)',
 120: 'Raiders of the Lost Ark (1981)',
 121: 'Silence of the Lambs, The (1991)',
 122: 'Waking Ned Devine (1998)',
 123: 'Ghostbusters II (1989)',
 124: 'Matrix, The (1999)',
 125: 'Armageddon (1998)',
 126: 'Shakespeare in Love (1998)',
 127: 'Serpico (1973)',
 128: 'French Connection, The (1971)',
 129: 'Conspiracy Theory (1997)',
 130: 'What About Bob? (1991)',
 131: 'Rocky (1976)',
 132: 'Kramer Vs. Kramer (1979)',
 133: 'Ed Wood (1994)',
 134: 'On Golden Pond (1981)',
 135: 'Chariots of Fire (1981)',
 136: 'Desperado (1995)',
 137: 'Die Hard: With a Vengeance (1995)',
 138: 'True Lies (1994)',
 139: 'October Sky (1999)',
 140: 'Clear and Present Danger (1994)',
 141: 'Fugitive, The (1993)',
 142: "Sophie's Choice (1982)",
 143: 'Gone with the Wind (1939)',
 144: 'Getaway, The (1994)',
 145: 'Fifth Element, The (1997)',
 146: 'Thelma & Louise (1991)',
 147: 'Under Siege (1992)',
 148: "Guess Who's Coming to Dinner (1967)",
 149: 'Grapes of Wrath, The (1940)',
 150: 'Independence Day (ID4) (1996)',
 151: 'Mr. Jones (1993)',
 152: 'Spartacus (1960)',
 153: 'Lethal Weapon 3 (1992)',
 154: 'As Good As It Gets (1997)',
 155: 'Indochine (1992)',
 156: 'Mask of Zorro, The (1998)',
 157: 'Shawshank Redemption, The (1994)',
 158: 'Man with the Golden Arm, The (1955)',
 159: 'Manhattan (1979)',
 160: 'Forrest Gump (1994)',
 161: 'Graduate, The (1967)',
 162: 'Animal House (1978)',
 163: 'Raising Arizona (1987)',
 164: '28 Days (2000)',
 165: 'Happy Gilmore (1996)',
 166: 'Golden Child, The (1986)',
 167: 'Beverly Hills Ninja (1997)',
 168: 'Naked Gun: From the Files of Police Squad!, The (1988)',
 169: 'Fish Called Wanda, A (1988)',
 170: 'Being John Malkovich (1999)',
 171: 'Edge, The (1997)',
 172: 'Indiana Jones and the Last Crusade (1989)',
 173: 'Dragonheart (1996)',
 174: 'Blade (1998)',
 175: 'Men in Black (1997)',
 176: 'Ghost and the Darkness, The (1996)',
 177: 'Three Musketeers, The (1993)',
 178: 'Unforgiven (1992)',
 179: 'Rock, The (1996)',
 180: 'Young Guns (1988)',
 181: 'Young Guns II (1990)',
 182: 'Caddyshack (1980)',
 183: 'Butch Cassidy and the Sundance Kid (1969)',
 184: 'Crocodile Dundee (1986)',
 185: 'Easy Rider (1969)',
 186: 'Blazing Saddles (1974)',
 187: 'Deliverance (1972)',
 188: 'Indiana Jones and the Temple of Doom (1984)',
 189: 'Breakfast Club, The (1985)',
 190: 'Monty Python and the Holy Grail (1974)',
 191: 'Little Mermaid, The (1989)',
 192: 'Fistful of Dollars, A (1964)',
 193: 'Alien (1979)',
 194: 'Die Hard (1988)',
 195: 'Mad Max (1979)',
 196: 'King Kong (1933)',
 197: 'Jaws (1975)',
 198: 'Good, The Bad and The Ugly, The (1966)',
 199: 'Goldfinger (1964)',
 200: 'Terminator, The (1984)',
 201: 'Who Framed Roger Rabbit? (1988)',
 202: 'Gods and Monsters (1998)',
 203: 'Delicatessen (1991)',
 204: 'Clueless (1995)',
 205: 'Velvet Goldmine (1998)',
 206: 'Love! Valour! Compassion! (1997)',
 207: 'Citizen Ruth (1996)',
 208: 'Donnie Brasco (1997)',
 209: 'Wings of the Dove, The (1997)',
 210: 'Bound (1996)',
 211: 'Mrs. Dalloway (1997)',
 212: 'Bowfinger (1999)',
 213: 'Before Sunrise (1995)',
 214: 'Four Days in September (1997)',
 215: 'Orlando (1993)',
 216: 'Bridge on the River Kwai, The (1957)',
 217: 'Piano, The (1993)',
 218: 'Richard III (1995)',
 219: 'Pok�mon the Movie 2000 (2000)',
 220: 'Seven (Se7en) (1995)',
 221: 'South Park: Bigger, Longer and Uncut (1999)',
 222: 'Pulp Fiction (1994)',
 223: 'Celluloid Closet, The (1995)',
 224: 'L.A. Confidential (1997)',
 225: 'Cold Comfort Farm (1995)',
 226: 'Priest (1994)',
 227: 'Ravenous (1999)',
 228: 'X-Files: Fight the Future, The (1998)',
 229: 'Don Juan DeMarco (1995)',
 230: 'Death and the Maiden (1994)',
 231: 'Insider, The (1999)',
 232: 'Beautiful Thing (1996)',
 233: 'Usual Suspects, The (1995)',
 234: 'Paris Is Burning (1990)',
 235: 'Sleepy Hollow (1999)',
 236: 'Speed (1994)',
 237: 'All About My Mother (Todo Sobre Mi Madre) (1999)',
 238: 'Thin Red Line, The (1998)',
 239: 'Faculty, The (1998)',
 240: 'Pecker (1998)',
 241: 'Pillow Book, The (1995)',
 242: 'Out of Sight (1998)',
 243: 'Ghostbusters (1984)',
 244: 'Liar Liar (1997)',
 245: 'Player, The (1992)',
 246: 'Crumb (1994)',
 247: 'Creepshow (1982)',
 248: 'Good Will Hunting (1997)',
 249: 'Topsy-Turvy (1999)',
 250: 'Edward Scissorhands (1990)',
 251: 'Ice Storm, The (1997)',
 252: 'Trick (1999)',
 253: 'Mystery Men (1999)',
 254: 'Pi (1998)',
 255: "There's Something About Mary (1998)",
 256: 'Go (1999)',
 257: 'Night of the Living Dead (1968)',
 258: 'Wild Reeds (1994)',
 259: 'Men With Guns (1997)',
 260: 'Living in Oblivion (1995)',
 261: 'Go Fish (1994)',
 262: "Jackie Chan's First Strike (1996)",
 263: 'Office Killer (1997)',
 264: 'Mrs. Brown (Her Majesty, Mrs. Brown) (1997)',
 265: 'Sweet Hereafter, The (1997)',
 266: 'Fast, Cheap & Out of Control (1997)',
 267: 'Strawberry and Chocolate (Fresa y chocolate) (1993)',
 268: 'Poseidon Adventure, The (1972)',
 269: 'GoodFellas (1990)',
 270: 'Love and Death on Long Island (1997)',
 271: 'Election (1999)',
 272: 'Grosse Pointe Blank (1997)',
 273: 'Fight Club (1999)',
 274: 'All Over Me (1997)',
 275: 'Washington Square (1997)',
 276: 'North by Northwest (1959)',
 277: 'Babe: Pig in the City (1998)',
 278: 'Jackie Brown (1997)',
 279: "Jacob's Ladder (1990)",
 280: 'Three Kings (1999)',
 281: 'Casino (1995)',
 282: "Billy's Hollywood Screen Kiss (1997)",
 283: 'Smoke (1995)',
 284: 'Nightmare Before Christmas, The (1993)',
 285: "Romy and Michele's High School Reunion (1997)",
 286: 'Incredibly True Adventure of Two Girls in Love, The (1995)',
 287: 'Happiness (1998)',
 288: 'Austin Powers: International Man of Mystery (1997)',
 289: 'Reservoir Dogs (1992)',
 290: 'Howards End (1992)',
 291: 'Maltese Falcon, The (1941)',
 292: 'Kundun (1997)',
 293: 'Final Destination (2000)',
 294: 'Waiting for Guffman (1996)',
 295: 'Big Lebowski, The (1998)',
 296: 'Afterglow (1997)',
 297: 'Little Voice (1998)',
 298: 'My Life in Pink (Ma vie en rose) (1997)',
 299: 'Mariachi, El (1992)',
 300: 'Shanghai Noon (2000)',
 301: 'Rushmore (1998)',
 302: 'Austin Powers: The Spy Who Shagged Me (1999)',
 303: 'Dick (1999)',
 304: 'Big Night (1996)',
 305: 'Fear and Loathing in Las Vegas (1998)',
 306: 'Opposite of Sex, The (1998)',
 307: 'Madness of King George, The (1994)',
 308: 'Bullets Over Broadway (1994)',
 309: 'Cruise, The (1998)',
 310: 'City of Lost Children, The (1995)',
 311: 'Welcome to the Dollhouse (1995)',
 312: 'Glengarry Glen Ross (1992)',
 313: 'Nowhere (1997)',
 314: 'Much Ado About Nothing (1993)',
 315: "Boys Don't Cry (1999)",
 316: 'Misery (1990)',
 317: 'Twelve Monkeys (1995)',
 318: 'Rosencrantz and Guildenstern Are Dead (1990)',
 319: 'High Art (1998)',
 320: 'Bob Roberts (1992)',
 321: "But I'm a Cheerleader (1999)",
 322: 'Babe (1995)',
 323: 'Dead Man Walking (1995)',
 324: 'Dead Man (1995)',
 325: 'Romancing the Stone (1984)',
 326: 'Top Gun (1986)',
 327: 'Gone in 60 Seconds (2000)',
 328: "Pete's Dragon (1977)",
 329: 'Anastasia (1997)',
 330: 'Lion King, The (1994)',
 331: "Murphy's Romance (1985)",
 332: 'Moonstruck (1987)',
 333: 'Jeremiah Johnson (1972)',
 334: 'Outlaw Josey Wales, The (1976)',
 335: 'To Gillian on Her 37th Birthday (1996)',
 336: 'Pretty Woman (1990)',
 337: 'Wyatt Earp (1994)',
 338: 'Other Sister, The (1999)',
 339: 'Arthur (1981)',
 340: "My Best Friend's Wedding (1997)",
 341: 'Mighty Ducks, The (1992)',
 342: 'Blue Hawaii (1961)',
 343: 'Gypsy (1962)',
 344: 'Tequila Sunrise (1988)',
 345: 'Keeping the Faith (2000)',
 346: 'Patriot, The (2000)',
 347: 'Magnum Force (1973)',
 348: 'Babes in Toyland (1961)',
 349: "Prizzi's Honor (1985)",
 350: 'Roustabout (1964)',
 351: 'Room with a View, A (1986)',
 352: 'Emma (1996)',
 353: 'Apple Dumpling Gang, The (1975)',
 354: 'West Side Story (1961)',
 355: 'Straight Story, The (1999)',
 356: 'Legends of the Fall (1994)',
 357: 'Sense and Sensibility (1995)',
 358: 'Starman (1984)',
 359: 'Benny & Joon (1993)',
 360: 'Dirty Dancing (1987)',
 361: 'Casablanca (1942)',
 362: 'Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)',
 363: 'Paulie (1998)',
 364: 'Peggy Sue Got Married (1986)',
 365: 'Splash (1984)',
 366: 'Out of Africa (1985)',
 367: 'Grease (1978)',
 368: 'Little Big League (1994)',
 369: 'Witness (1985)',
 370: 'Where the Heart Is (2000)',
 371: 'Supercop (1992)',
 372: 'X-Men (2000)',
 373: 'Heat (1995)',
 374: 'Exorcist, The (1973)',
 375: 'Face/Off (1997)',
 376: 'Backdraft (1991)',
 377: 'In the Line of Fire (1993)',
 378: 'Tomorrow Never Dies (1997)',
 379: 'Patriot Games (1992)',
 380: 'Godfather: Part II, The (1974)',
 381: 'Elizabeth (1998)',
 382: 'Natural Born Killers (1994)',
 383: "Mo' Better Blues (1990)",
 384: 'Jerry Maguire (1996)',
 385: 'Truman Show, The (1998)',
 386: 'Philadelphia (1993)',
 387: 'Batman: Mask of the Phantasm (1993)',
 388: 'Dead Presidents (1995)',
 389: 'Moll Flanders (1996)',
 390: 'Mr. Saturday Night (1992)',
 391: 'Cider House Rules, The (1999)',
 392: 'Summer of Sam (1999)',
 393: 'Private Parts (1997)',
 394: 'Amistad (1997)',
 395: 'Rob Roy (1995)',
 396: 'Poetic Justice (1993)',
 397: 'Waiting to Exhale (1995)',
 398: 'Soul Food (1997)',
 399: 'Anna and the King (1999)',
 400: 'Postino, Il (The Postman) (1994)',
 401: 'Eyes Wide Shut (1999)',
 402: 'He Got Game (1998)',
 403: 'Buffalo 66 (1998)',
 404: "Devil's Own, The (1997)",
 405: 'Dolores Claiborne (1994)',
 406: 'People vs. Larry Flynt, The (1996)',
 407: 'Crimson Tide (1995)',
 408: 'Hamlet (1996)',
 409: 'Rudy (1993)',
 410: "William Shakespeare's Romeo and Juliet (1996)",
 411: 'Firm, The (1993)',
 412: 'Deconstructing Harry (1997)',
 413: 'Akira (1988)',
 414: 'Ghost in the Shell (Kokaku kidotai) (1995)',
 415: 'Cyrano de Bergerac (1990)',
 416: 'Chasing Amy (1997)',
 417: 'Prince of Tides, The (1991)',
 418: 'What Dreams May Come (1998)',
 419: 'JFK (1991)',
 420: 'Heaven & Earth (1993)',
 421: 'Midnight in the Garden of Good and Evil (1997)',
 422: 'Six Degrees of Separation (1993)',
 423: 'Hilary and Jackie (1998)',
 424: 'Mis�rables, Les (1995)',
 425: 'Malcolm X (1992)',
 426: 'Bridges of Madison County, The (1995)',
 427: 'Interview with the Vampire (1994)',
 428: 'Alive (1993)',
 429: 'Scent of a Woman (1992)',
 430: 'Inkwell, The (1994)',
 431: 'Gattaca (1997)',
 432: 'Taxi Driver (1976)',
 433: 'Far and Away (1992)',
 434: 'Cop Land (1997)',
 435: 'Godfather: Part III, The (1990)',
 436: 'Nixon (1995)',
 437: "What's Eating Gilbert Grape (1993)",
 438: 'Beloved (1998)',
 439: 'My Crazy Life (Mi vida loca) (1993)',
 440: 'True Romance (1993)',
 441: "Eve's Bayou (1997)",
 442: 'Hard-Boiled (Lashou shentan) (1992)',
 443: 'Great Expectations (1998)',
 444: 'High Fidelity (2000)',
 445: 'Red Violin, The (Le Violon rouge) (1998)',
 446: "General's Daughter, The (1999)",
 447: 'Adventures of Priscilla, Queen of the Desert, The (1994)',
 448: 'Powder (1995)',
 449: 'Leaving Las Vegas (1995)',
 450: 'Life Is Beautiful (La Vita � bella) (1997)',
 451: 'American History X (1998)',
 452: 'Cruel Intentions (1999)',
 453: 'Boogie Nights (1997)',
 454: 'Joy Luck Club, The (1993)',
 455: 'Robin Hood: Prince of Thieves (1991)',
 456: 'Arachnophobia (1990)',
 457: 'Nell (1994)',
 458: 'Mask, The (1994)',
 459: 'Clerks (1994)',
 460: 'Boiler Room (2000)',
 461: 'Meet the Parents (2000)',
 462: 'Time to Kill, A (1996)',
 463: 'Frequency (2000)',
 464: 'Rules of Engagement (2000)',
 465: 'Quiz Show (1994)',
 466: 'Wedding Singer, The (1998)',
 467: 'Cape Fear (1991)',
 468: 'Magnolia (1999)',
 469: 'Searching for Bobby Fischer (1993)',
 470: 'Swingers (1996)',
 471: 'Star Trek: First Contact (1996)',
 472: 'Sling Blade (1996)',
 473: 'Hurricane, The (1999)',
 474: 'Chicken Run (2000)',
 475: 'My Cousin Vinny (1992)',
 476: 'Wrong Trousers, The (1993)',
 477: 'Return to Paradise (1998)',
 478: "Wayne's World (1992)",
 479: 'Contact (1997)',
 480: 'Grand Day Out, A (1992)',
 481: 'Kolya (1996)',
 482: 'Mission: Impossible 2 (2000)',
 483: 'Trainspotting (1996)',
 484: 'Tango Lesson, The (1997)',
 485: 'Age of Innocence, The (1993)',
 486: 'Remember the Titans (2000)',
 487: 'Boat, The (Das Boot) (1981)',
 488: 'When Harry Met Sally... (1989)',
 489: 'Cutting Edge, The (1992)',
 490: 'Hype! (1996)',
 491: 'Bronx Tale, A (1993)',
 492: "Midsummer Night's Dream, A (1999)",
 493: 'Defending Your Life (1991)',
 494: 'Breaking Away (1979)',
 495: 'Prophecy II, The (1998)',
 496: 'Alien� (1992)',
 497: 'Addams Family, The (1991)',
 498: 'Ever After: A Cinderella Story (1998)',
 499: 'Honey, I Shrunk the Kids (1989)',
 500: 'Chinatown (1974)',
 501: 'Treasure of the Sierra Madre, The (1948)',
 502: 'Naked Gun 2 1/2: The Smell of Fear, The (1991)',
 503: 'Duck Soup (1933)',
 504: 'Better Off Dead... (1985)',
 505: 'Lost in Space (1998)',
 506: 'American Graffiti (1973)',
 507: 'Home Alone (1990)',
 508: 'Ghost (1990)',
 509: 'Teenage Mutant Ninja Turtles (1990)',
 510: 'To Sir with Love (1967)',
 511: 'Blast from the Past (1999)',
 512: 'Message in a Bottle (1999)',
 513: 'Jumanji (1995)',
 514: 'My Favorite Martian (1999)',
 515: 'Batman Forever (1995)',
 516: 'Sabrina (1995)',
 517: 'Adventures in Babysitting (1987)',
 518: 'Doctor Dolittle (1967)',
 519: 'Nutty Professor, The (1963)',
 520: "Charlotte's Web (1973)",
 521: 'Phenomenon (1996)',
 522: 'Watership Down (1978)',
 523: 'Michael (1996)',
 524: "Bram Stoker's Dracula (1992)",
 525: 'Arsenic and Old Lace (1944)',
 526: 'Superman (1978)',
 527: 'Batman (1989)',
 528: 'Pinocchio (1940)',
 529: 'Good Earth, The (1937)',
 530: 'Lethal Weapon 4 (1998)',
 531: 'Dark Crystal, The (1982)',
 532: "'burbs, The (1989)",
 533: 'Fried Green Tomatoes (1991)',
 534: 'Carrie (1976)',
 535: 'Journey of Natty Gann, The (1985)',
 536: 'Jungle Book, The (1967)',
 537: 'Cool Hand Luke (1967)',
 538: 'Spy Hard (1996)',
 539: 'Mystery Science Theater 3000: The Movie (1996)',
 540: 'Young Frankenstein (1974)',
 541: 'All Quiet on the Western Front (1930)',
 542: 'Rocky Horror Picture Show, The (1975)',
 543: 'Harry and the Hendersons (1987)',
 544: 'Stargate (1994)',
 545: 'Santa Clause, The (1994)',
 546: 'Houseguest (1994)',
 547: 'Lady and the Tramp (1955)',
 548: 'Fantasia (1940)',
 549: 'High Noon (1952)',
 550: 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)',
 551: 'Peter Pan (1953)',
 552: 'Somewhere in Time (1980)',
 553: "Pee-wee's Big Adventure (1985)",
 554: 'War of the Worlds, The (1953)',
 555: 'Heart and Souls (1993)',
 556: 'River Runs Through It, A (1992)',
 557: 'Producers, The (1968)',
 558: 'Star Trek: Generations (1994)',
 559: 'Robin Hood (1973)',
 560: 'Nine Months (1995)',
 561: 'NeverEnding Story, The (1984)',
 562: 'Little Big Man (1970)',
 563: 'Rescuers, The (1977)',
 564: 'Trading Places (1983)',
 565: 'Return from Witch Mountain (1978)',
 566: "Breakfast at Tiffany's (1961)",
 567: 'First Wives Club, The (1996)',
 568: 'Return to Oz (1985)',
 569: 'Rear Window (1954)',
 570: 'Rocketeer, The (1991)',
 571: 'Being There (1979)',
 572: 'Sleeping Beauty (1959)',
 573: 'M*A*S*H (1970)',
 574: 'Jack (1996)',
 575: 'Little Shop of Horrors (1986)',
 576: 'Escape to Witch Mountain (1975)',
 577: 'Tom Jones (1963)',
 578: 'Tommy Boy (1995)',
 579: 'While You Were Sleeping (1995)',
 580: 'Practical Magic (1998)',
 581: 'Star Trek: The Motion Picture (1979)',
 582: 'Beetlejuice (1988)',
 583: 'Star Trek: The Wrath of Khan (1982)',
 584: 'Star Trek III: The Search for Spock (1984)',
 585: 'Sabrina (1954)',
 586: 'Star Trek IV: The Voyage Home (1986)',
 587: 'Batman Returns (1992)',
 588: 'Roman Holiday (1953)',
 589: 'Meet Me in St. Louis (1944)',
 590: 'Old Yeller (1957)',
 591: '13th Warrior, The (1999)',
 592: 'Gold Rush, The (1925)',
 593: 'Homeward Bound: The Incredible Journey (1993)',
 594: 'Shaggy Dog, The (1959)',
 595: '20,000 Leagues Under the Sea (1954)',
 596: 'Hook (1991)',
 597: 'Ace Ventura: Pet Detective (1994)',
 598: 'Mixed Nuts (1994)',
 599: 'Hero (1992)',
 600: 'Miracle on 34th Street (1994)',
 601: 'Citizen Kane (1941)',
 602: '2001: A Space Odyssey (1968)',

**2) 분석해 봅시다.**  
ratings에 있는 유니크한 영화 개수  
rating에 있는 유니크한 사용자 수  
가장 인기 있는 영화 30개(인기순)  
  
**3) 내가 선호하는 영화를 5가지 골라서 rating에 추가해 줍시다.  
4) CSR matrix를 직접 만들어 봅시다.  
5) als_model = AlternatingLeastSquares 모델을 직접 구성하여 훈련시켜 봅시다.   
6) 내가 선호하는 5가지 영화 중 하나와 그 외의 영화 하나를 골라 훈련된 모델이 예측한 나의 선호도를 파악해 보세요.  
7) 내가 좋아하는 영화와 비슷한 영화를 추천받아 봅시다.  
8) 내가 가장 좋아할 만한 영화들을 추천받아 봅시다.**  
   
   
평가문항	상세기준
1. CSR matrix가 정상적으로 만들어졌다.  
사용자와 아이템 개수를 바탕으로 정확한 사이즈로 만들었다.  
  
2. MF 모델이 정상적으로 훈련되어 그럴듯한 추천이 이루어졌다.  
사용자와 아이템 벡터 내적수치가 의미있게 형성되었다.  
   
3. 비슷한 영화 찾기와 유저에게 추천하기의 과정이 정상적으로 진행되었다.  
MF모델이 예측한 유저 선호도 및 아이템간 유사도, 기여도가 의미있게 측정되었다.